@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(255,255,255);
	font-family: 'Montserrat', sans-serif;
	overflow: hidden;
}
.list-container{
	position: relative;
}
.more-button{
	background: #006eff;
	box-shadow: 0px 0px 0px 4px rgba(65, 161, 251, 0.3);
	border-radius: 50%;
	width: 60px;
	height: 60px;
	border: none;
	padding: none;
	cursor: pointer;
	transition: 0.5s;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	position: relative;
	z-index: 2;
	animation: bloom infinite 1.5s;
}
@keyframes blooom{
	50%{
		box-shadow: 0px 0px 0px 15px rgba(92, 217, 255, 0.3);
	}
}
.more-button:hover{
	animation: none;
}
.more-button-list{
	background: rgb(9, 214, 180);
	border-radius: 10px;
	list-style: none;
	width: 190px;
	height: 200px;
	padding: 15px;
	position: relative;
	right: 165px;
	bottom: 230px;
	opacity: 1;
	transform: scale(0);
	transform-origin: bottom right;
	transition: all 0.2s;
}
.more-button-list li{
	opacity: 0;
}
.more-button-list-item{
	display: flex;
	align-items: center;
	color: rgb(104, 104, 104);
	padding: 11px;
	border-radius: 4px;
	cursor: pointer;
	position: relative;
	transition: 0.2s ease-in;
	transform: translateX(-10px);
}
.more-button-list li:hover{
	color: #006eff;
	background: rgb(255, 255, 255);
}
.more-button-list-item .fas, far{
	font-size: 20px;
}
.more-button-list-item span{
	display: inline-block;
	line-height: 20px;
	font-size: 20px;
	margin-left: 10px;
	text-decoration: none;
	color: rgb(104, 104, 104);
	font-weight: 600;
	transition: all 0.3s;
}
.menu-icon{
	width: 30px;
	height: 30px;
	border-radius: 2px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
	transition: transform 0.3s ease-out;
}
.menu-icon-line{
	background: #fff;
	border-radius: 5px;
	width: 100%;
	height: 3px;
}
.menu-icon-line.half{
	width: 50%;
}
.menu-icon-line.first{
	transition: 0.3s;
	transform-origin: right;
}
.menu-icon-line.last{
	align-self: flex-end;
	transition: 0.3s;
	transform-origin: left;
}
/* AFTER CLICK FUNCTION */
.list-container.active .more-button-list{
	opacity: 1;
	transform: scale(1);
}
/* menu items animation */
.list-container.active .more-button-list-item{
	animation: fadeInItem 0.6s 0.2s forwards;
}
.list-container.active .more-button-list-item:nth-child(2){
	animation-delay: 0.4s;
}
.list-container.active .more-button-list-item:nth-child(3){
	animation-delay: 0.6s;
}
.list-container.active .more-button-list-item:nth-child(4){
	animation-delay: 0.8s;
}
/* menu button shadow animation */
.list-container.active .more-button{
	animation: activeShadow 0.6s linear forwards;
}
/* menu icon animation */
.list-container.active .menu-icon{
	transform: rotate(45deg);
}
.list-container.active .menu-icon-line.first{
	transform: rotate(-90deg) translateX(1px);
}
.list-container.active .menu-icon-line.last{
	transform: rotate(-90deg) translateX(-1px);
}

/* This is for button shadow animation and Menu list animation after click */
@keyframes activeShadow{
	0%{
		box-shadow: 0px 0px 0px 0px rgba(92, 217, 255, 0.3);
	}
	50%{
		box-shadow: 0px 0px 0px 17px rgba(92, 217, 255, 0.3);
	}
	100%{
		box-shadow: 0px 0px 0px 7px rgba(92, 217, 255, 0.3);
	}
}
@keyframes fadeInItem{
	100%{
		transform: translateX(0px);
		opacity: 1;
	}
}